{% extends 'honete/homehon.html' %}
{% load static i18n %}
{% block main_style %}
{{ block.super }}
    <link href="{% static 'honete/css/heroes.css' %}" media="screen" rel="stylesheet" type="text/css">
{% endblock main_style %}
{% block content_left %}
<div class="gridView wrapper" style="width: 910px; padding-bottom: 60px; display: block;">
    <div class="gLight sectionHeroes right">
        <div class="gDark">
            <p class="greyLight fontXXXS regular"><span class="title fontXXL">{% trans 'Agilidad' %} </span>{% trans 'Equipo: Hellbourne' %}</p>
        </div>
        <div style="padding: 1px;">
            {% for hero in heros %}
            {% if hero.type == 1 and hero.team == 1 %}
            <div class="filterObjectGrid Filter_Agility Filter_Ranged select">
                <a href="{% url 'heros_view' hero.id %}">
                    <div class="heroIcon" style="background-image: url('{% get_media_prefix %}{{hero.image}}');"></div>
                </a>
                <div class="darken"></div>
                <div class="over default">{{hero.name}}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="floatClear"></div>
    </div>
    <div class="gLight sectionHeroes left">
        <div class="gDark">
            <p class="greyLight fontXXXS regular"><span class="title fontXXL">{% trans 'Agilidad' %} </span>{% trans 'Equipo: Legion' %}</p>
        </div>
        <div style="padding: 1px;">
            {% for hero in heros %}
            {% if hero.type == 1 and hero.team == 2 %}
            <div class="filterObjectGrid Filter_Agility Filter_Ranged select">
                <a href="{% url 'heros_view' hero.id %}">
                    <div class="heroIcon" style="background-image: url('{% get_media_prefix %}{{hero.image}}');"></div>
                </a>
                <div class="darken"></div>
                <div class="over default">{{hero.name}}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="floatClear"></div>
    </div>
    <div class="gLight sectionHeroes left">
        <div class="gDark">
            <p class="greyLight fontXXXS regular"><span class="title fontXXL">{% trans 'Inteligencia' %} </span>{% trans 'Equipo: Legion' %}</p>
        </div>
        <div style="padding: 1px;">
            {% for hero in heros %}
            {% if hero.type == 3 and hero.team == 2 %}
            <div class="filterObjectGrid Filter_Agility Filter_Ranged select">
                <a href="{% url 'heros_view' hero.id %}">
                    <div class="heroIcon" style="background-image: url('{% get_media_prefix %}{{hero.image}}');"></div>
                </a>
                <div class="darken"></div>
                <div class="over default">{{hero.name}}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="floatClear"></div>
    </div>
    <div class="gLight sectionHeroes right">
        <div class="gDark">
            <p class="greyLight fontXXXS regular"><span class="title fontXXL">{% trans 'Inteligencia' %} </span>{% trans 'Equipo: Hellbourne' %}</p>
        </div>
        <div style="padding: 1px;">
            {% for hero in heros %}
            {% if hero.type == 3 and hero.team == 1 %}
            <div class="filterObjectGrid Filter_Agility Filter_Ranged select">
                <a href="{% url 'heros_view' hero.id %}">
                    <div class="heroIcon" style="background-image: url('{% get_media_prefix %}{{hero.image}}');"></div>
                </a>
                <div class="darken"></div>
                <div class="over default">{{hero.name}}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="floatClear"></div>
    </div>
    <div class="gLight sectionHeroes right">
        <div class="gDark">
            <p class="greyLight fontXXXS regular"><span class="title fontXXL">{% trans 'Fuerza' %} </span>{% trans 'Equipo: Hellbourne' %}</p>
        </div>
        <div style="padding: 1px;">
            {% for hero in heros %}
            {% if hero.type == 2 and hero.team == 1 %}
            <div class="filterObjectGrid Filter_Agility Filter_Ranged select">
                <a href="{% url 'heros_view' hero.id %}">
                    <div class="heroIcon" style="background-image: url('{% get_media_prefix %}{{hero.image}}');"></div>
                </a>
                <div class="darken"></div>
                <div class="over default">{{hero.name}}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="floatClear"></div>
    </div>
    <div class="gLight sectionHeroes left">
        <div class="gDark">
            <p class="greyLight fontXXXS regular"><span class="title fontXXL">{% trans 'Fuerza' %} </span>{% trans 'Equipo: Legion' %}</p>
        </div>
        <div style="padding: 1px;">
            {% for hero in heros %}
            {% if hero.type == 2 and hero.team == 2 %}
            <div class="filterObjectGrid Filter_Agility Filter_Ranged select">
                <a href="{% url 'heros_view' hero.id %}">
                    <div class="heroIcon" style="background-image: url('{% get_media_prefix %}{{hero.image}}');"></div>
                </a>
                <div class="darken"></div>
                <div class="over default">{{hero.name}}</div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="floatClear"></div>
    </div>
</div>
{% endblock content_left %}

{% block content_right %}
    {% if user.is_authenticated %}
    <div class="gLight" id="add_block" style="margin-top: 15px; margin-left: 26%;">
        <div class="headerTitle title fontXL gDark" style="border-radius: 6px 6px 0 0;">{% trans 'Agregar Héroe' %}</div>
        <div id="add_all">
            <div id="add">
                <a href="{% url 'heros_add' %}" type="button" class="redbtn">{% trans 'Agregar' %}</a>
            </div>
        </div>
    </div>
    <div class="gLight" id="erase_block" style="margin-top: 15px; margin-left: 26%;">
        <div class="headerTitle title fontXL gDark" style="border-radius: 6px 6px 0 0;">{% trans 'Borrar Todos' %}</div>
        <div id="erase_all">
            <div id="eraser">
                <a href="{% url 'heros_del' %}" type="button" class="redbtn">{% trans 'Borrar Todos' %}</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="gLight" id="add_block" style="margin-top: 15px; margin-left: 26%;">
        <div class="headerTitle title fontXL gDark" style="border-radius: 6px 6px 0 0;">{% trans 'Agregar Héroe' %}</div>
        <div id="info">
            <h3 class="msg need-auth-msg">
                {% trans 'Necesita autenticarse para gestionar los datos de heroes' %}
            </h3>
        </div>
    </div>
    {% endif %}
{% endblock content_right %}