{% extends 'honete/homehon.html' %}
{% load i18n %}
{% load static things_tags %}
{% block content_left %}
<div class="stats_table">

    <div>
        <span class="stat_title">{% trans 'Estadísticas Hellbourne' %}</span>
        <table class="stats_table">
            <thead class="headerTitle title gDark">
                <tr>
                    <th>{% trans 'Jugador' %}</th>
                    {% if "HoN Russian" in game.game_name %}<th>{% trans 'Dir IP' %}</th>{% endif %}
                    <th>{% trans 'Heroe' %}</th>
                    <th>{% trans 'K/D/A' %}</th>
                    <th>{% trans 'FirstBlood Kill' %}</th>
                    <th>{% trans 'FirstBlood Die' %}</th>
                    <th>{% trans 'Daño' %}</th>
                    <th>{% trans 'Oro' %}</th>
                    <th>{% trans 'EXP' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for player in players|dictsortreversed:"kills" %}
            {% if player.team.code == "1" %}
                <tr>
                    <td>{{player.player}}</td>
                    {% if "HoN Russian" in game.game_name %}<td>{{player.ip_address}}</td>{% endif %}
                    <td>
                        {% if player.hero %}
                        <a href="{% url 'heros_view' player.hero.id %}">{{player.hero}}</a>
                        {% else %}
                        No identificado
                        {% endif %}
                    </td>
                    <td class="text-center">{{player.kills}}/{{player.dead}}/{{player.assitances}}</td>
                    <td class="text-center">{% if player.firstblood > -1 %}{{player.firstblood|int_time}} {% else %}-{% endif %}</td>
                    <td class="text-center">{% if player.firstblood_die > -1 %}{{player.firstblood_die|int_time}}{% else %}-{% endif %}</td>
                    <td class="text-center">{{player.damage|floatformat:"2"}}</td>
                    <td class="text-center">{{player.golds|floatformat:"2"}}</td>
                    <td class="text-center">{{player.experiens|floatformat:"2"}}</td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br/>
    <div>
        <span class="stat_title">{% trans 'Estadísticas Legion' %}</span>
        <table class="stats_table">
            <thead class="headerTitle title gDark">
                <tr>
                    <th>{% trans 'Jugador' %}</th>
                    {% if "HoN Russian" in game.game_name %}<th>{% trans 'Dir IP' %}</th>{% endif %}
                    <th>{% trans 'Héroe' %}</th>
                    <th>{% trans 'K/D/A' %}</th>
                    <th>{% trans 'FirstBlood Kill' %}</th>
                    <th>{% trans 'FirstBlood Die' %}</th>
                    <th>{% trans 'Daño' %}</th>
                    <th>{% trans 'Oro' %}</th>
                    <th>{% trans 'EXP' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for player in players|dictsortreversed:"kills" %}
            {% if player.team.code == "2" %}
                <tr>
                    <td>{{player.player}}</td>
                    {% if "HoN Russian" in game.game_name %}<td>{{player.ip_address}}</td>{% endif %}
                    <td>
                        {% if player.hero %}
                        <a href="{% url 'heros_view' player.hero.id %}">{{player.hero}}</a>
                        {% else %}
                        No identificado
                        {% endif %}</td>
                    <td class="text-center">{{player.kills}}/{{player.dead}}/{{player.assitances}}</td>
                    <td class="text-center">{% if player.firstblood > -1 %}{{player.firstblood|int_time}} {% else %}-{% endif %}</td>
                    <td class="text-center">{% if player.firstblood_die > -1 %}{{player.firstblood_die|int_time}}{% else %}-{% endif %}</td>
                    <td class="text-center">{{player.damage|floatformat:"2"}}</td>
                    <td class="text-center">{{player.golds|floatformat:"2"}}</td>
                    <td class="text-center">{{player.experiens|floatformat:"2"}}</td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content_left %}
{% block content_right %}
    <div class="gLight" id="summary" style="margin-top: 20px;">
        <div class="headerTitle title fontXL gDark" style="border-radius: 6px 6px 0 0;">{% trans 'Match Summary' %}</div>
        <div id="info">
            <div class="column left subTitle fontXS">
                {% trans 'Ganador:' %}<br>
                {% trans 'Match ID:' %}<br>
                {% trans 'Mapa:' %}<br>
                {% trans 'Fecha:' %}<br>
                {% trans 'Hora:' %}<br>
                {% trans 'Duración:' %}<br>
                {% trans 'Servidor:' %}<br>
                {% trans 'Versión:' %}
            </div>
            <div class="column right regular greyLight fontXS">
                - {% if game.team_win == 1 %}Hellbourne{% else %} Legion {% endif %}<br>
                - {{game.match_id}}<br>
                - {{game.map_name}}<br>
                - {{game.match_date}}<br>
                - {{game.match_time}}<br>
                - {{game.win_time|int_time}}<br>
                - {{game.server_game_name}}<br>
                - {{game.game_version}}
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
{% endblock content_right %}