{% extends 'honete/homehon.html' %}
{% load static %}
{% block body_class %}no-home{% endblock body_class %}
    {% block content %}
<div>
</div>
<table>
    <thead>
        <tr>

        </tr>
    </thead>
    <tbody>
    {% for player in players|dictsortreversed:"avg" %}
        <tr>

        </tr>
    {% empty %}
    <tr>No hay estadisticas de juego</tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
    {% block content_left %}
<div>
    <table class="stats_table">
        <thead class="headerTitle title gDark">
        <tr>
            <th>Posición</th>
            <th>Jugador</th>
            <th>Puntuación</th>
            <th>Juegos</th>
            <th>kills</th>
            <th>Muertes</th>
            <th>Asistencias</th>
            <th>FirstBlood Kill</th>
            <th>FirstBlood Dies</th>
            <th>Juegos Ganados</th>
        </tr>
        </thead>
        <tbody>
        {% for player in players|dictsortreversed:"avg" %}
        <tr>
            <td class="text-center">{{forloop.counter}}</td>
            <td>{{player.name}}</td>
            <td class="text-center {% if player.avg < 0 %}text-danger{% endif %}">{{player.avg|floatformat:2}}</td>
            <td class="text-center">{{player.games}}</td>
            <td class="text-center">{{player.kills}}</td>
            <td class="text-center">{{player.deads}}</td>
            <td class="text-center">{{player.assists}}</td>
            <td class="text-center">{{player.first_kills}}</td>
            <td class="text-center">{{player.first_dies}}</td>
            <td class="text-center">{{player.wins}}</td>
        </tr>
        {% empty %}
        <tr><h3>No hay estadísticas de juegos</h3></tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    {% endblock content_left %}