{% extends 'honete/homehon.html' %}
{% load static i18n %}
{% block body_class %}no-home{% endblock body_class %}
{% block expand_left %}left-80{% endblock expand_left %}
{% block content_left %}
<div>
    <table class="stats_table">
        {% if players|length > 0 %}
        <thead class="headerTitle title gDark">
        <tr>
            <th>{% trans 'Posición' %}</th>
            <th>{% trans 'Jugador' %}</th>
            <th>{% trans 'Puntuación' %}</th>
            <th>{% trans 'Juegos' %}</th>
            <th>{% trans 'kills' %}</th>
            <th>{% trans 'Muertes' %}</th>
            <th>{% trans 'Asistencias' %}</th>
            <th>{% trans 'FirstBlood Kill' %}</th>
            <th>{% trans 'FirstBlood Dies' %}</th>
            <th>{% trans 'Juegos Ganados' %}</th>
            <th>{% trans 'Oro' %}</th>
            <th>{% trans 'Experiencia' %}</th>
            <th>{% trans 'Daño' %}</th>
        </tr>
        </thead>
        {% endif %}
        <tbody>
        {% for player in players|dictsortreversed:"avg" %}
        <tr class="{% if forloop.first %}first-row {% elif forloop.last %} last-row {% elif player.avg <= 0 %} inred-row {% endif %}">
            <td class="text-center">{{forloop.counter}}</td>
            <td>{{player.name}}</td>
            <td class="text-center">{{player.avg|floatformat:2}}</td>
            <td class="text-center">{{player.games}}</td>
            <td class="text-center">{{player.kills}}</td>
            <td class="text-center">{{player.deads}}</td>
            <td class="text-center">{{player.assists}}</td>
            <td class="text-center">{{player.first_kills}}</td>
            <td class="text-center">{{player.first_dies}}</td>
            <td class="text-center">{{player.wins}}</td>
            <td class="text-center">{{player.golds|floatformat:2}}</td>
            <td class="text-center">{{player.experienc|floatformat:2}}</td>
            <td class="text-center">{{player.damage|floatformat:2}}</td>
        </tr>
        {% empty %}
        <tr><h3 class="no-data msg">{% trans 'No hay estadísticas de juegos' %}</h3></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    {% endblock content_left %}